# Puerto del backend
PORT=

# Origen permitido por CORS (frontend Angular)
FRONTEND_ORIGIN=

# Base de datos Oracle
# En local: localhost | En docker-compose: nombre del servicio de la BD (ej: "db")
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_SERVICE_NAME=
